body {
    background-size: cover;
}

/* IMG */
#canvas-container {
    margin-top: 10px;
    width: 560px;
    height: 320px;
}

#canvas-container:hover {
    cursor: grab;
}

/* MAP */
#map {
    height: 500px;
    width: 500px;
}

#map:hover {
    cursor: crosshair;
}

#map:active {
    cursor: grab;
}